flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e09d7fa.ac4c78","type":"tcp in","z":"f6f2187d.f17ca8","name":"","server":"server","host":"","port":"8899","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":190,"y":100,"wires":[["9897a283.16585","277f2bc5.94cc44"]]},{"id":"8089b422.4000f8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"9897a283.16585","type":"tcp out","z":"f6f2187d.f17ca8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":390,"y":200,"wires":[]},{"id":"277f2bc5.94cc44","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"obj","pretty":false,"x":420,"y":100,"wires":[["8089b422.4000f8","98ccc9f7.4168b8"]]},{"id":"98ccc9f7.4168b8","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"home/thingstatus","qos":"","retain":"","broker":"c428e919.3d4138","x":680,"y":100,"wires":[]},{"id":"53c6e684.c9b968","type":"comment","z":"f6f2187d.f17ca8","name":"TCP Socket Listener","info":"","x":210,"y":60,"wires":[]},{"id":"375d758e.d8150a","type":"comment","z":"f6f2187d.f17ca8","name":"TCP Reply","info":"","x":400,"y":240,"wires":[]},{"id":"e5851f29.f8923","type":"comment","z":"f6f2187d.f17ca8","name":"Convert to JSON","info":"","x":450,"y":60,"wires":[]},{"id":"c428e919.3d4138","type":"mqtt-broker","name":"","broker":"10.20.20.244","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]